<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageSources>
	<clear />
    <add key="reference-sdk" value="Include\sdk\nuget" />
    <add key="NuGet v3 package source" value="https://api.nuget.org/v3/index.json" />
    <add key="NuGet official package source" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <disabledPackageSources />
</configuration>
