<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.APIGateway" version="3.3.2" targetFramework="netstandard1.3" />
  <package id="AWSSDK.ApplicationAutoScaling" version="3.3.1" targetFramework="netstandard1.3" />
  <package id="AWSSDK.ApplicationDiscoveryService" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.AutoScaling" version="3.3.0.4" targetFramework="netstandard1.3" />
  <package id="AWSSDK.AWSMarketplaceCommerceAnalytics" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.AWSMarketplaceMetering" version="3.3.1" targetFramework="netstandard1.3" />
  <package id="AWSSDK.AWSSupport" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.Budgets" version="3.3.0.2" targetFramework="netstandard1.3" />
  <package id="AWSSDK.CertificateManager" version="3.3.1.2" targetFramework="netstandard1.3" />
  <package id="AWSSDK.CloudFormation" version="3.3.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.CloudFront" version="3.3.1.2" targetFramework="netstandard1.3" />
  <package id="AWSSDK.CloudHSM" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.CloudSearch" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.CloudSearchDomain" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.CloudTrail" version="3.3.1" targetFramework="netstandard1.3" />
  <package id="AWSSDK.CloudWatch" version="3.3.1" targetFramework="netstandard1.3" />
  <package id="AWSSDK.CloudWatchEvents" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.CloudWatchLogs" version="3.3.1.1" targetFramework="netstandard1.3" />
  <package id="AWSSDK.CodeCommit" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.CodeDeploy" version="3.3.1.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.CodePipeline" version="3.3.0.4" targetFramework="netstandard1.3" />
  <package id="AWSSDK.CognitoIdentity" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.3.2" targetFramework="netstandard1.3" />
  <package id="AWSSDK.ConfigService" version="3.3.1.2" targetFramework="netstandard1.3" />
  <package id="AWSSDK.Core" version="3.3.5" targetFramework="netstandard1.3" />
  <package id="AWSSDK.DatabaseMigrationService" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.DataPipeline" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.DeviceFarm" version="3.3.0.4" targetFramework="netstandard1.3" />
  <package id="AWSSDK.DirectConnect" version="3.3.1.1" targetFramework="netstandard1.3" />
  <package id="AWSSDK.DirectoryService" version="3.3.1" targetFramework="netstandard1.3" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.1" targetFramework="netstandard1.3" />
  <package id="AWSSDK.EC2" version="3.3.2.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.ECR" version="3.3.1.2" targetFramework="netstandard1.3" />
  <package id="AWSSDK.ECS" version="3.3.1" targetFramework="netstandard1.3" />
  <package id="AWSSDK.ElastiCache" version="3.3.2" targetFramework="netstandard1.3" />
  <package id="AWSSDK.ElasticBeanstalk" version="3.3.1.2" targetFramework="netstandard1.3" />
  <package id="AWSSDK.ElasticFileSystem" version="3.3.0.4" targetFramework="netstandard1.3" />
  <package id="AWSSDK.ElasticLoadBalancing" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.ElasticLoadBalancingV2" version="3.3.0.4" targetFramework="netstandard1.3" />
  <package id="AWSSDK.ElasticMapReduce" version="3.3.2" targetFramework="netstandard1.3" />
  <package id="AWSSDK.Elasticsearch" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.ElasticTranscoder" version="3.3.1" targetFramework="netstandard1.3" />
  <package id="AWSSDK.GameLift" version="3.3.2" targetFramework="netstandard1.3" />
  <package id="AWSSDK.IdentityManagement" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.ImportExport" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.Inspector" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.IoT" version="3.3.1.2" targetFramework="netstandard1.3" />
  <package id="AWSSDK.KeyManagementService" version="3.3.1.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.Kinesis" version="3.3.1" targetFramework="netstandard1.3" />
  <package id="AWSSDK.KinesisAnalytics" version="3.3.0.4" targetFramework="netstandard1.3" />
  <package id="AWSSDK.KinesisFirehose" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.Lambda" version="3.3.1" targetFramework="netstandard1.3" />
  <package id="AWSSDK.Lightsail" version="3.3.0" targetFramework="netstandard1.3" />
  <package id="AWSSDK.MachineLearning" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.OpsWorks" version="3.3.0.4" targetFramework="netstandard1.3" />
  <package id="AWSSDK.Polly" version="3.3.0" targetFramework="netstandard1.3" />
  <package id="AWSSDK.RDS" version="3.3.2.2" targetFramework="netstandard1.3" />
  <package id="AWSSDK.Redshift" version="3.3.1.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.Rekognition" version="3.3.0" targetFramework="netstandard1.3" />
  <package id="AWSSDK.Route53" version="3.3.2.1" targetFramework="netstandard1.3" />
  <package id="AWSSDK.Route53Domains" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.S3" version="3.3.4" targetFramework="netstandard1.3" />
  <package id="AWSSDK.SecurityToken" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.ServerMigrationService" version="3.3.0.2" targetFramework="netstandard1.3" />
  <package id="AWSSDK.ServiceCatalog" version="3.3.2" targetFramework="netstandard1.3" />
  <package id="AWSSDK.SimpleEmail" version="3.3.1.1" targetFramework="netstandard1.3" />
  <package id="AWSSDK.SimpleNotificationService" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.SimpleSystemsManagement" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.Snowball" version="3.3.1" targetFramework="netstandard1.3" />
  <package id="AWSSDK.SQS" version="3.3.1" targetFramework="netstandard1.3" />
  <package id="AWSSDK.StepFunctions" version="3.3.0" targetFramework="netstandard1.3" />
  <package id="AWSSDK.StorageGateway" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.WAF" version="3.3.1.4" targetFramework="netstandard1.3" />
  <package id="AWSSDK.WorkSpaces" version="3.3.0.3" targetFramework="netstandard1.3" />
  <package id="AWSSDK.XRay" version="3.3.0" targetFramework="netstandard1.3" />
</packages>

