<?xml version="1.0" encoding="utf-8"?>
<ConfigModel xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <SkipCmdletGeneration>false</SkipCmdletGeneration>
    <C2jFilename>config</C2jFilename>
    <SourceGenerationRoot>AmazonConfigService</SourceGenerationRoot>
    <ServiceNounPrefix>CFG</ServiceNounPrefix>
    <ServiceName>AWS Config</ServiceName>
    <ServiceClientInterface>IAmazonConfigService</ServiceClientInterface>
    <ServiceClient>AmazonConfigServiceClient</ServiceClient>
    <ServiceNamespace>Amazon.ConfigService</ServiceNamespace>
    <DefaultRegion>us-east-1</DefaultRegion>
    <PipelineParameter>DeliveryChannelName</PipelineParameter>
    <AutoIterate Start="NextToken" Next="NextToken" EmitLimit="Limit" ServicePageSize="-1" Exclusions="GetAggregateConfigRuleComplianceSummary;GetAggregateDiscoveredResourceCounts" />
    <VerbMappings />
    <NounMappings />
    <Params />
    <AdditionalNamespaces />
    <CustomAliases />
    <LegacyAliases />
    <ParamEmitters />
    <MetadataProperties>
        <Property>TotalDiscoveredResources</Property>
    </MetadataProperties>
    <PipelineByNameProperties />
    <ServiceOperations>
        <ServiceOperation MethodName="BatchGetAggregateResourceConfig" Output="Response" Verb="Get" Noun="AggregateResourceConfigBatch" PipelineParameter="" NoPipelineParameter="true">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="BatchGetResourceConfig" Output="Response" Verb="Get" Noun="GetResourceConfigBatch" PipelineParameter="ResourceKeys" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteAggregationAuthorization" Output="Void" Verb="Remove" Noun="AggregationAuthorization" ShouldProcessTarget="AuthorizedAccountId" PipelineParameter="AuthorizedAccountId" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteConfigRule" Output="Void" Verb="Remove" Noun="ConfigRule" ShouldProcessTarget="ConfigRuleName" PipelineParameter="ConfigRuleName" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteConfigurationAggregator" Output="Void" Verb="Remove" Noun="ConfigurationAggregator" ShouldProcessTarget="ConfigurationAggregatorName" PipelineParameter="ConfigurationAggregatorName" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteConfigurationRecorder" Output="Void" Verb="Remove" Noun="ConfigurationRecorder" ShouldProcessTarget="ConfigurationRecorderName" PipelineParameter="ConfigurationRecorderName" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteDeliveryChannel" Output="Void" Verb="Remove" Noun="DeliveryChannel" ShouldProcessTarget="DeliveryChannelName" PipelineParameter="DeliveryChannelName" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteEvaluationResults" Output="Void" Verb="Remove" Noun="EvaluationResult" ShouldProcessTarget="ConfigRuleName" PipelineParameter="ConfigRuleName" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DeletePendingAggregationRequest" Output="Void" Verb="Remove" Noun="PendingAggregationRequest" ShouldProcessTarget="RequesterAccountId" PipelineParameter="RequesterAccountId" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteRetentionConfiguration" Output="Void" Verb="Remove" Noun="RetentionConfiguration" ShouldProcessTarget="RetentionConfigurationName" PipelineParameter="RetentionConfigurationName" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DeliverConfigSnapshot" Output="DefaultSingleMember" Verb="Submit" Noun="ConfigSnapshotDelivery" ShouldProcessTarget="DeliveryChannelName" PipelineParameter="DeliveryChannelName" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeAggregateComplianceByConfigRules" Output="DefaultSingleMember" Verb="Get" Noun="AggregateComplianceByConfigRuleList" PipelineParameter="" NoPipelineParameter="true">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeAggregationAuthorizations" Output="DefaultSingleMember" Verb="Get" Noun="AggregationAuthorizationList" PipelineParameter="" NoPipelineParameter="true">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeComplianceByConfigRule" Output="DefaultSingleMember" Verb="Get" Noun="ComplianceByConfigRule" PipelineParameter="" NoPipelineParameter="true">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeComplianceByResource" Output="DefaultSingleMember" Verb="Get" Noun="ComplianceByResource" PipelineParameter="" NoPipelineParameter="true">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeConfigRuleEvaluationStatus" Output="DefaultSingleMember" Verb="Get" Noun="ConfigRuleEvaluationStatus" PipelineParameter="" NoPipelineParameter="true">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeConfigRules" Output="DefaultSingleMember" Verb="Get" Noun="ConfigRule" PipelineParameter="" NoPipelineParameter="true" LegacyAlias="Get-CFGConfigRules">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeConfigurationAggregators" Output="DefaultSingleMember" Verb="Get" Noun="ConfigurationAggregatorList" PipelineParameter="" NoPipelineParameter="true">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeConfigurationAggregatorSourcesStatus" Output="DefaultSingleMember" Verb="Get" Noun="ConfigurationAggregatorSourcesStatus" PipelineParameter="" NoPipelineParameter="true">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeConfigurationRecorders" Output="DefaultSingleMember" Verb="Get" Noun="ConfigurationRecorder" PipelineParameter="ConfigurationRecorderNames" NoPipelineParameter="false" LegacyAlias="Get-CFGConfigurationRecorders">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeConfigurationRecorderStatus" Output="DefaultSingleMember" Verb="Get" Noun="ConfigurationRecorderStatus" PipelineParameter="ConfigurationRecorderNames" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeDeliveryChannels" Output="DefaultSingleMember" Verb="Get" Noun="DeliveryChannel" PipelineParameter="DeliveryChannelNames" NoPipelineParameter="false" LegacyAlias="Get-CFGDeliveryChannels">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeDeliveryChannelStatus" Output="DefaultSingleMember" Verb="Get" Noun="DeliveryChannelStatus" PipelineParameter="DeliveryChannelNames" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribePendingAggregationRequests" Output="DefaultSingleMember" Verb="Get" Noun="PendingAggregationRequestList" PipelineParameter="" NoPipelineParameter="true">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeRetentionConfigurations" Output="DefaultSingleMember" Verb="Get" Noun="RetentionConfiguration" PipelineParameter="" NoPipelineParameter="true">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="GetAggregateComplianceDetailsByConfigRule" Output="DefaultSingleMember" Verb="Get" Noun="AggregateComplianceDetailsByConfigRule" PipelineParameter="" NoPipelineParameter="true">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="GetAggregateConfigRuleComplianceSummary" Output="Response" Verb="Get" Noun="AggregateConfigRuleComplianceSummary" PipelineParameter="" NoPipelineParameter="true" MetadataProperties="NextToken">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="GetAggregateDiscoveredResourceCounts" Output="Response" Verb="Get" Noun="AggregateDiscoveredResourceCount" PipelineParameter="" NoPipelineParameter="true" MetadataProperties="NextToken">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="GetAggregateResourceConfig" Output="DefaultSingleMember" Verb="Get" Noun="AggregateResourceConfig" PipelineParameter="" NoPipelineParameter="true">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="GetComplianceDetailsByConfigRule" Output="DefaultSingleMember" Verb="Get" Noun="ComplianceDetailsByConfigRule" PipelineParameter="" NoPipelineParameter="true">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="GetComplianceDetailsByResource" Output="DefaultSingleMember" Verb="Get" Noun="ComplianceDetailsByResource" PipelineParameter="" NoPipelineParameter="true">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="GetComplianceSummaryByConfigRule" Output="DefaultSingleMember" Verb="Get" Noun="ComplianceSummaryByConfigRule" PipelineParameter="" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="GetComplianceSummaryByResourceType" Output="DefaultSingleMember" Verb="Get" Noun="ComplianceSummaryByResourceType" PipelineParameter="ResourceTypes" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="GetDiscoveredResourceCounts" Output="DefaultSingleMember" Verb="Get" Noun="DiscoveredResourceCount" PipelineParameter="" NoPipelineParameter="true" MetadataProperties="TotalDiscoveredResources">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="GetResourceConfigHistory" Output="DefaultSingleMember" Verb="Get" Noun="ResourceConfigHistory" PipelineParameter="" NoPipelineParameter="true">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="ListAggregateDiscoveredResources" Output="DefaultSingleMember" Verb="Get" Noun="AggregateDiscoveredResourceList" PipelineParameter="" NoPipelineParameter="true">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="ListDiscoveredResources" Output="DefaultSingleMember" Verb="Get" Noun="DiscoveredResource" PipelineParameter="ResourceName" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="PutAggregationAuthorization" Output="DefaultSingleMember" Verb="Write" Noun="AggregationAuthorization" ShouldProcessTarget="AuthorizedAccountId" PipelineParameter="AuthorizedAccountId" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="PutConfigRule" Output="Void" Verb="Write" Noun="ConfigRule" ShouldProcessTarget="ConfigRule_ConfigRuleName" PipelineParameter="ConfigRule_ConfigRuleName" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="PutConfigurationAggregator" Output="DefaultSingleMember" Verb="Write" Noun="ConfigurationAggregator" ShouldProcessTarget="ConfigurationAggregatorName" PipelineParameter="ConfigurationAggregatorName" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="PutConfigurationRecorder" Output="Void" Verb="Write" Noun="ConfigurationRecorder" ShouldProcessTarget="ConfigurationRecorder_Name" PipelineParameter="ConfigurationRecorder_Name" NoPipelineParameter="false">
            <Params>
                <Param Name="ConfigurationRecorder_Name" NewName="ConfigurationRecorderName" Alias="ConfigurationRecorder_Name" />
            </Params>
        </ServiceOperation>
        <ServiceOperation MethodName="PutDeliveryChannel" Output="Void" Verb="Write" Noun="DeliveryChannel" ShouldProcessTarget="DeliveryChannel_Name" PipelineParameter="DeliveryChannel_Name" NoPipelineParameter="false">
            <Params>
                <Param Name="DeliveryChannel_Name" NewName="DeliveryChannelName" Alias="DeliveryChannel_Name" />
            </Params>
        </ServiceOperation>
        <ServiceOperation MethodName="PutEvaluations" Output="DefaultSingleMember" Verb="Write" Noun="Evaluation" ShouldProcessTarget="Evaluations" PipelineParameter="Evaluations" NoPipelineParameter="false" LegacyAlias="Write-CFGEvaluations">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="PutRetentionConfiguration" Output="DefaultSingleMember" Verb="Write" Noun="RetentionConfiguration" ShouldProcessTarget="RetentionPeriodInDays" PipelineParameter="RetentionPeriodInDays" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="StartConfigRulesEvaluation" Output="Void" Verb="Start" Noun="ConfigRulesEvaluation" ShouldProcessTarget="ConfigRuleNames" PipelineParameter="ConfigRuleNames" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="StartConfigurationRecorder" Output="Void" Verb="Start" Noun="ConfigurationRecorder" ShouldProcessTarget="ConfigurationRecorderName" PipelineParameter="ConfigurationRecorderName" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="StopConfigurationRecorder" Output="Void" Verb="Stop" Noun="ConfigurationRecorder" ShouldProcessTarget="ConfigurationRecorderName" PipelineParameter="ConfigurationRecorderName" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
    </ServiceOperations>
    <InputObjectMappingRules />
    <SupportsShouldProcessVerbs />
    <TypesNotToFlatten />
</ConfigModel>