<?xml version="1.0" encoding="utf-8"?>
<ConfigModel xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <SkipCmdletGeneration>false</SkipCmdletGeneration>
    <C2jFilename>events</C2jFilename>
    <SourceGenerationRoot>AmazonCloudWatchEvents</SourceGenerationRoot>
    <ServiceNounPrefix>CWE</ServiceNounPrefix>
    <ServiceName>Amazon CloudWatch Events</ServiceName>
    <ServiceClientInterface>IAmazonCloudWatchEvents</ServiceClientInterface>
    <ServiceClient>AmazonCloudWatchEventsClient</ServiceClient>
    <ServiceNamespace>Amazon.CloudWatchEvents</ServiceNamespace>
    <PipelineParameter>Rule</PipelineParameter>
    <AutoIterate Start="NextToken" Next="NextToken" EmitLimit="Limit" />
    <VerbMappings />
    <NounMappings />
    <Params />
    <AdditionalNamespaces />
    <CustomAliases />
    <LegacyAliases />
    <ParamEmitters />
    <MetadataProperties />
    <PipelineByNameProperties>
        <Property>Name</Property>
    </PipelineByNameProperties>
    <ServiceOperations>
        <ServiceOperation MethodName="DeleteRule" Output="Void" Verb="Remove" Noun="Rule" ShouldProcessTarget="Name" PipelineParameter="Name" NoPipelineParameter="false">
            <Params>
                <Param Name="Force" NewName="Enforce" AutoApplyAlias="false" />
            </Params>
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeEventBus" Output="Response" Verb="Get" Noun="EventBus" PipelineParameter="" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeRule" Output="Response" Verb="Get" Noun="RuleDetail" PipelineParameter="Name" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="DisableRule" Output="Void" Verb="Disable" Noun="Rule" ShouldProcessTarget="Name" PipelineParameter="Name" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="EnableRule" Output="Void" Verb="Enable" Noun="Rule" ShouldProcessTarget="Name" PipelineParameter="Name" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="ListRuleNamesByTarget" Output="DefaultSingleMember" Verb="Get" Noun="RuleNamesByTarget" PipelineParameter="TargetArn" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="ListRules" Output="DefaultSingleMember" Verb="Get" Noun="Rule" PipelineParameter="NamePrefix" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="ListTagsForResource" Output="DefaultSingleMember" Verb="Get" Noun="ResourceTag" PipelineParameter="ResourceARN" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="ListTargetsByRule" Output="DefaultSingleMember" Verb="Get" Noun="TargetsByRule" PipelineParameter="Rule" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="PutEvents" Output="Response" Verb="Write" Noun="Event" ShouldProcessTarget="Entries" PipelineParameter="Entries" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="PutPermission" Output="Void" Verb="Write" Noun="Permission" ShouldProcessTarget="StatementId" PipelineParameter="StatementId" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="PutRule" Output="DefaultSingleMember" Verb="Write" Noun="Rule" ShouldProcessTarget="Name" PipelineParameter="Name" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="PutTargets" Output="DefaultSingleMember" Verb="Write" Noun="Target" ShouldProcessTarget="Rule" PipelineParameter="Rule" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="RemovePermission" Output="Void" Verb="Remove" Noun="Permission" ShouldProcessTarget="StatementId" PipelineParameter="StatementId" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="RemoveTargets" Output="DefaultSingleMember" Verb="Remove" Noun="Target" ShouldProcessTarget="Ids" PipelineParameter="Rule" NoPipelineParameter="false">
            <Params>
                <Param Name="Force" NewName="Enforce" AutoApplyAlias="false" />
            </Params>
        </ServiceOperation>
        <ServiceOperation MethodName="TagResource" Output="Void" Verb="Add" Noun="ResourceTag" ShouldProcessTarget="ResourceARN" PipelineParameter="ResourceARN" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="TestEventPattern" Output="DefaultSingleMember" Verb="Test" Noun="EventPattern" PipelineParameter="Event" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
        <ServiceOperation MethodName="UntagResource" Output="Void" Verb="Remove" Noun="ResourceTag" ShouldProcessTarget="ResourceARN" PipelineParameter="ResourceARN" NoPipelineParameter="false">
            <Params />
        </ServiceOperation>
    </ServiceOperations>
    <InputObjectMappingRules />
    <SupportsShouldProcessVerbs />
    <TypesNotToFlatten />
</ConfigModel>