<?xml version="1.0" encoding="utf-8"?>
<ConfigModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <FileVersion>0</FileVersion>
    <SkipCmdletGeneration>false</SkipCmdletGeneration>
    <C2jFilename>config</C2jFilename>
    <AssemblyName>ConfigService</AssemblyName>
    <ServiceNounPrefix>CFG</ServiceNounPrefix>
    <ServiceName>AWS Config</ServiceName>
    <ServiceClientInterface>IAmazonConfigService</ServiceClientInterface>
    <ServiceClient>AmazonConfigServiceClient</ServiceClient>
    <ServiceModuleGuid>37355e41-9861-4ed3-ba56-b71575ac6444</ServiceModuleGuid>
    <DefaultRegion>us-east-1</DefaultRegion>
    <PipelineParameter>DeliveryChannelName</PipelineParameter>
    <AutoIterate Start="NextToken" Next="NextToken" EmitLimit="Limit" />
    <VerbMappings />
    <NounMappings />
    <Params />
    <CustomAliases />
    <LegacyAliases />
    <ParamEmitters />
    <MetadataProperties>
        <Property>TotalDiscoveredResources</Property>
    </MetadataProperties>
    <ServiceOperations>
        <ServiceOperation MethodName="AssociateResourceTypes" OutputProperty="ConfigurationRecorder" Verb="Add" Noun="ResourceType" ShouldProcessTarget="ConfigurationRecorderArn" PipelineParameter="ConfigurationRecorderArn" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="BatchGetAggregateResourceConfig" OutputProperty="*" Verb="Get" Noun="AggregateResourceConfigBatch" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="BatchGetResourceConfig" OutputProperty="*" Verb="Get" Noun="GetResourceConfigBatch" PipelineParameter="ResourceKeys" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteAggregationAuthorization" Verb="Remove" Noun="AggregationAuthorization" ShouldProcessTarget="AuthorizedAccountId" PipelineParameter="AuthorizedAccountId" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteConfigRule" Verb="Remove" Noun="ConfigRule" ShouldProcessTarget="ConfigRuleName" PipelineParameter="ConfigRuleName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteConfigurationAggregator" Verb="Remove" Noun="ConfigurationAggregator" ShouldProcessTarget="ConfigurationAggregatorName" PipelineParameter="ConfigurationAggregatorName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteConfigurationRecorder" Verb="Remove" Noun="ConfigurationRecorder" ShouldProcessTarget="ConfigurationRecorderName" PipelineParameter="ConfigurationRecorderName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteConformancePack" Verb="Remove" Noun="ConformancePack" ShouldProcessTarget="ConformancePackName" PipelineParameter="ConformancePackName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteDeliveryChannel" Verb="Remove" Noun="DeliveryChannel" ShouldProcessTarget="DeliveryChannelName" PipelineParameter="DeliveryChannelName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteEvaluationResults" Verb="Remove" Noun="EvaluationResult" ShouldProcessTarget="ConfigRuleName" PipelineParameter="ConfigRuleName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteOrganizationConfigRule" Verb="Remove" Noun="OrganizationConfigRule" ShouldProcessTarget="OrganizationConfigRuleName" PipelineParameter="OrganizationConfigRuleName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteOrganizationConformancePack" Verb="Remove" Noun="OrganizationConformancePack" ShouldProcessTarget="OrganizationConformancePackName" PipelineParameter="OrganizationConformancePackName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DeletePendingAggregationRequest" Verb="Remove" Noun="PendingAggregationRequest" ShouldProcessTarget="RequesterAccountId" PipelineParameter="RequesterAccountId" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteRemediationConfiguration" Verb="Remove" Noun="RemediationConfiguration" ShouldProcessTarget="ConfigRuleName" PipelineParameter="ConfigRuleName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteRemediationExceptions" OutputProperty="FailedBatches" Verb="Remove" Noun="RemediationException" ShouldProcessTarget="ConfigRuleName" PipelineParameter="ConfigRuleName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteResourceConfig" Verb="Remove" Noun="ResourceConfig" ShouldProcessTarget="ResourceId" PipelineParameter="ResourceId" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteRetentionConfiguration" Verb="Remove" Noun="RetentionConfiguration" ShouldProcessTarget="RetentionConfigurationName" PipelineParameter="RetentionConfigurationName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteServiceLinkedConfigurationRecorder" OutputProperty="*" Verb="Remove" Noun="ServiceLinkedConfigurationRecorder" ShouldProcessTarget="ServicePrincipal" PipelineParameter="ServicePrincipal" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DeleteStoredQuery" Verb="Remove" Noun="StoredQuery" ShouldProcessTarget="QueryName" PipelineParameter="QueryName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DeliverConfigSnapshot" OutputProperty="ConfigSnapshotId" Verb="Submit" Noun="ConfigSnapshotDelivery" ShouldProcessTarget="DeliveryChannelName" PipelineParameter="DeliveryChannelName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeAggregateComplianceByConfigRules" OutputProperty="AggregateComplianceByConfigRules" Verb="Get" Noun="AggregateComplianceByConfigRuleList" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeAggregateComplianceByConformancePacks" OutputProperty="AggregateComplianceByConformancePacks" Verb="Get" Noun="AggregateComplianceByConformancePack" PipelineParameter="ConfigurationAggregatorName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeAggregationAuthorizations" OutputProperty="AggregationAuthorizations" Verb="Get" Noun="AggregationAuthorizationList" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeComplianceByConfigRule" OutputProperty="ComplianceByConfigRules" Verb="Get" Noun="ComplianceByConfigRule" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeComplianceByResource" OutputProperty="ComplianceByResources" Verb="Get" Noun="ComplianceByResource" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeConfigRuleEvaluationStatus" OutputProperty="ConfigRulesEvaluationStatus" Verb="Get" Noun="ConfigRuleEvaluationStatus" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeConfigRules" OutputProperty="ConfigRules" Verb="Get" Noun="ConfigRule" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true" LegacyAlias="Get-CFGConfigRules">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeConfigurationAggregators" OutputProperty="ConfigurationAggregators" Verb="Get" Noun="ConfigurationAggregatorList" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeConfigurationAggregatorSourcesStatus" OutputProperty="AggregatedSourceStatusList" Verb="Get" Noun="ConfigurationAggregatorSourcesStatus" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeConfigurationRecorders" OutputProperty="ConfigurationRecorders" Verb="Get" Noun="ConfigurationRecorder" PipelineParameter="ConfigurationRecorderNames" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyAlias="Get-CFGConfigurationRecorders">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeConfigurationRecorderStatus" OutputProperty="ConfigurationRecordersStatus" Verb="Get" Noun="ConfigurationRecorderStatus" PipelineParameter="ConfigurationRecorderNames" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeConformancePackCompliance" OutputProperty="ConformancePackRuleComplianceList" Verb="Get" Noun="ConformancePackCompliance" PipelineParameter="ConformancePackName" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeConformancePacks" OutputProperty="ConformancePackDetails" Verb="Get" Noun="ConformancePack" PipelineParameter="ConformancePackNames" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeConformancePackStatus" OutputProperty="ConformancePackStatusDetails" Verb="Get" Noun="ConformancePackStatus" PipelineParameter="ConformancePackNames" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeDeliveryChannels" OutputProperty="DeliveryChannels" Verb="Get" Noun="DeliveryChannel" PipelineParameter="DeliveryChannelNames" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyAlias="Get-CFGDeliveryChannels">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeDeliveryChannelStatus" OutputProperty="DeliveryChannelsStatus" Verb="Get" Noun="DeliveryChannelStatus" PipelineParameter="DeliveryChannelNames" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeOrganizationConfigRules" OutputProperty="OrganizationConfigRules" Verb="Get" Noun="OrganizationConfigRule" PipelineParameter="OrganizationConfigRuleNames" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeOrganizationConfigRuleStatuses" OutputProperty="OrganizationConfigRuleStatuses" Verb="Get" Noun="OrganizationConfigRuleStatus" PipelineParameter="OrganizationConfigRuleNames" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeOrganizationConformancePacks" OutputProperty="OrganizationConformancePacks" Verb="Get" Noun="OrganizationConformancePack" PipelineParameter="OrganizationConformancePackNames" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeOrganizationConformancePackStatuses" OutputProperty="OrganizationConformancePackStatuses" Verb="Get" Noun="OrganizationConformancePackStatus" PipelineParameter="OrganizationConformancePackNames" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribePendingAggregationRequests" OutputProperty="PendingAggregationRequests" Verb="Get" Noun="PendingAggregationRequestList" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeRemediationConfigurations" OutputProperty="RemediationConfigurations" Verb="Get" Noun="RemediationConfiguration" PipelineParameter="ConfigRuleNames" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeRemediationExceptions" OutputProperty="RemediationExceptions" Verb="Get" Noun="RemediationException" PipelineParameter="ConfigRuleName" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeRemediationExecutionStatus" OutputProperty="RemediationExecutionStatuses" Verb="Get" Noun="RemediationExecutionStatus" PipelineParameter="ConfigRuleName" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DescribeRetentionConfigurations" OutputProperty="RetentionConfigurations" Verb="Get" Noun="RetentionConfiguration" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="DisassociateResourceTypes" OutputProperty="ConfigurationRecorder" Verb="Remove" Noun="ResourceType" ShouldProcessTarget="ConfigurationRecorderArn" PipelineParameter="ConfigurationRecorderArn" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetAggregateComplianceDetailsByConfigRule" OutputProperty="AggregateEvaluationResults" Verb="Get" Noun="AggregateComplianceDetailsByConfigRule" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetAggregateConfigRuleComplianceSummary" OutputProperty="*" Verb="Get" Noun="AggregateConfigRuleComplianceSummary" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true" LegacyPagination="DisablePagination">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetAggregateConformancePackComplianceSummary" OutputProperty="*" Verb="Get" Noun="AggregateConformancePackComplianceSummary" PipelineParameter="ConfigurationAggregatorName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetAggregateDiscoveredResourceCounts" OutputProperty="*" Verb="Get" Noun="AggregateDiscoveredResourceCount" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true" LegacyPagination="DisablePagination">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetAggregateResourceConfig" OutputProperty="ConfigurationItem" Verb="Get" Noun="AggregateResourceConfig" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetComplianceDetailsByConfigRule" OutputProperty="EvaluationResults" Verb="Get" Noun="ComplianceDetailsByConfigRule" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetComplianceDetailsByResource" OutputProperty="EvaluationResults" Verb="Get" Noun="ComplianceDetailsByResource" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetComplianceSummaryByConfigRule" OutputProperty="ComplianceSummary" Verb="Get" Noun="ComplianceSummaryByConfigRule" PipelineParameter="" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetComplianceSummaryByResourceType" OutputProperty="ComplianceSummariesByResourceType" Verb="Get" Noun="ComplianceSummaryByResourceType" PipelineParameter="ResourceTypes" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetConformancePackComplianceDetails" OutputProperty="ConformancePackRuleEvaluationResults" Verb="Get" Noun="ConformancePackComplianceDetail" PipelineParameter="ConformancePackName" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetConformancePackComplianceSummary" OutputProperty="ConformancePackComplianceSummaryList" Verb="Get" Noun="ConformancePackComplianceSummary" PipelineParameter="ConformancePackNames" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetCustomRulePolicy" OutputProperty="PolicyText" Verb="Get" Noun="CustomRulePolicy" PipelineParameter="ConfigRuleName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetDiscoveredResourceCounts" OutputProperty="ResourceCounts" Verb="Get" Noun="DiscoveredResourceCount" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetOrganizationConfigRuleDetailedStatus" OutputProperty="OrganizationConfigRuleDetailedStatus" Verb="Get" Noun="OrganizationConfigRuleDetailedStatus" PipelineParameter="OrganizationConfigRuleName" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetOrganizationConformancePackDetailedStatus" OutputProperty="OrganizationConformancePackDetailedStatuses" Verb="Get" Noun="OrganizationConformancePackDetailedStatus" PipelineParameter="OrganizationConformancePackName" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetOrganizationCustomRulePolicy" OutputProperty="PolicyText" Verb="Get" Noun="OrganizationCustomRulePolicy" PipelineParameter="OrganizationConfigRuleName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetResourceConfigHistory" OutputProperty="ConfigurationItems" Verb="Get" Noun="ResourceConfigHistory" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetResourceEvaluationSummary" OutputProperty="*" Verb="Get" Noun="ResourceEvaluationSummary" PipelineParameter="ResourceEvaluationId" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="GetStoredQuery" OutputProperty="StoredQuery" Verb="Get" Noun="StoredQuery" PipelineParameter="QueryName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="ListAggregateDiscoveredResources" OutputProperty="ResourceIdentifiers" Verb="Get" Noun="AggregateDiscoveredResourceList" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="ListConfigurationRecorders" OutputProperty="ConfigurationRecorderSummaries" Verb="Get" Noun="ConfigurationRecorderList" PipelineParameter="" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="ListConformancePackComplianceScores" OutputProperty="ConformancePackComplianceScores" Verb="Get" Noun="ConformancePackComplianceScoreList" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="ListDiscoveredResources" OutputProperty="ResourceIdentifiers" Verb="Get" Noun="DiscoveredResource" PipelineParameter="ResourceName" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="ListResourceEvaluations" OutputProperty="ResourceEvaluations" Verb="Get" Noun="ResourceEvaluationList" PipelineParameter="" NoPipelineParameter="true" LegacyV4Pagination="true">
            <Params>
                <Param Name="Filters_TimeWindow_EndTime" NewName="TimeWindow_EndTime" />
                <Param Name="Filters_TimeWindow_StartTime" NewName="TimeWindow_StartTime" />
            </Params>
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="ListStoredQueries" OutputProperty="StoredQueryMetadata" Verb="Get" Noun="StoredQueryList" PipelineParameter="" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="ListTagsForResource" OutputProperty="Tags" Verb="Get" Noun="ResourceTag" PipelineParameter="ResourceArn" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="PutAggregationAuthorization" OutputProperty="AggregationAuthorization" Verb="Write" Noun="AggregationAuthorization" ShouldProcessTarget="AuthorizedAccountId" PipelineParameter="AuthorizedAccountId" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="PutConfigRule" Verb="Write" Noun="ConfigRule" ShouldProcessTarget="ConfigRule_ConfigRuleName" PipelineParameter="ConfigRule_ConfigRuleName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params>
                <Param Name="ConfigRule_Scope_ComplianceResourceId" NewName="Scope_ComplianceResourceId" />
                <Param Name="ConfigRule_Scope_ComplianceResourceTypes" NewName="Scope_ComplianceResourceType" />
                <Param Name="ConfigRule_Scope_TagKey" NewName="Scope_TagKey" />
                <Param Name="ConfigRule_Scope_TagValue" NewName="Scope_TagValue" />
                <Param Name="ConfigRule_Source_CustomPolicyDetails_EnableDebugLogDelivery" NewName="CustomPolicyDetails_EnableDebugLogDelivery" />
                <Param Name="ConfigRule_Source_CustomPolicyDetails_PolicyRuntime" NewName="CustomPolicyDetails_PolicyRuntime" />
                <Param Name="ConfigRule_Source_CustomPolicyDetails_PolicyText" NewName="CustomPolicyDetails_PolicyText" />
                <Param Name="ConfigRule_Source_Owner" NewName="Source_Owner" />
                <Param Name="ConfigRule_Source_SourceDetails" NewName="Source_SourceDetail" />
                <Param Name="ConfigRule_Source_SourceIdentifier" NewName="Source_SourceIdentifier" />
            </Params>
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="PutConfigurationAggregator" OutputProperty="ConfigurationAggregator" Verb="Write" Noun="ConfigurationAggregator" ShouldProcessTarget="ConfigurationAggregatorName" PipelineParameter="ConfigurationAggregatorName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params>
                <Param Name="AggregatorFilters_ResourceType_Type" NewName="ResourceType_Type" />
                <Param Name="AggregatorFilters_ResourceType_Value" NewName="ResourceType_Value" />
                <Param Name="AggregatorFilters_ServicePrincipal_Type" NewName="ServicePrincipal_Type" />
                <Param Name="AggregatorFilters_ServicePrincipal_Value" NewName="ServicePrincipal_Value" />
            </Params>
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="PutConfigurationRecorder" Verb="Write" Noun="ConfigurationRecorder" ShouldProcessTarget="ConfigurationRecorder_Name" PipelineParameter="ConfigurationRecorder_Name" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params>
                <Param Name="ConfigurationRecorder_Name" NewName="ConfigurationRecorderName" Alias="ConfigurationRecorder_Name" />
                <Param Name="ConfigurationRecorder_RecordingGroup_AllSupported" NewName="RecordingGroup_AllSupported" />
                <Param Name="ConfigurationRecorder_RecordingGroup_ExclusionByResourceTypes_ResourceTypes" NewName="ExclusionByResourceTypes_ResourceType" />
                <Param Name="ConfigurationRecorder_RecordingGroup_IncludeGlobalResourceTypes" NewName="RecordingGroup_IncludeGlobalResourceType" />
                <Param Name="ConfigurationRecorder_RecordingGroup_RecordingStrategy_UseOnly" NewName="RecordingStrategy_UseOnly" />
                <Param Name="ConfigurationRecorder_RecordingGroup_ResourceTypes" NewName="RecordingGroup_ResourceType" />
                <Param Name="ConfigurationRecorder_RecordingMode_RecordingFrequency" NewName="RecordingMode_RecordingFrequency" />
                <Param Name="ConfigurationRecorder_RecordingMode_RecordingModeOverrides" NewName="RecordingMode_RecordingModeOverride" />
            </Params>
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="PutConformancePack" OutputProperty="ConformancePackArn" Verb="Write" Noun="ConformancePack" ShouldProcessTarget="ConformancePackName" PipelineParameter="ConformancePackName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="PutDeliveryChannel" Verb="Write" Noun="DeliveryChannel" ShouldProcessTarget="DeliveryChannel_Name" PipelineParameter="DeliveryChannel_Name" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params>
                <Param Name="DeliveryChannel_Name" NewName="DeliveryChannelName" Alias="DeliveryChannel_Name" />
                <Param Name="DeliveryChannel_ConfigSnapshotDeliveryProperties_DeliveryFrequency" NewName="ConfigSnapshotDeliveryProperties_DeliveryFrequency" />
            </Params>
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="PutEvaluations" OutputProperty="FailedEvaluations" Verb="Write" Noun="Evaluation" ShouldProcessTarget="Evaluations" PipelineParameter="Evaluations" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyAlias="Write-CFGEvaluations">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="PutExternalEvaluation" Verb="Write" Noun="ExternalEvaluation" ShouldProcessTarget="ConfigRuleName" PipelineParameter="ConfigRuleName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="PutOrganizationConfigRule" OutputProperty="OrganizationConfigRuleArn" Verb="Write" Noun="OrganizationConfigRule" ShouldProcessTarget="OrganizationConfigRuleName" PipelineParameter="OrganizationConfigRuleName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="PutOrganizationConformancePack" OutputProperty="OrganizationConformancePackArn" Verb="Write" Noun="OrganizationConformancePack" ShouldProcessTarget="OrganizationConformancePackName" PipelineParameter="OrganizationConformancePackName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="PutRemediationConfigurations" OutputProperty="FailedBatches" Verb="Write" Noun="RemediationConfiguration" ShouldProcessTarget="RemediationConfigurations" PipelineParameter="RemediationConfigurations" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="PutRemediationExceptions" OutputProperty="FailedBatches" Verb="Write" Noun="RemediationException" ShouldProcessTarget="ConfigRuleName" PipelineParameter="ConfigRuleName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="PutResourceConfig" Verb="Write" Noun="ResourceConfig" ShouldProcessTarget="ResourceId" PipelineParameter="ResourceId" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="PutRetentionConfiguration" OutputProperty="RetentionConfiguration" Verb="Write" Noun="RetentionConfiguration" ShouldProcessTarget="RetentionPeriodInDays" PipelineParameter="RetentionPeriodInDays" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="PutServiceLinkedConfigurationRecorder" OutputProperty="*" Verb="Write" Noun="ServiceLinkedConfigurationRecorder" ShouldProcessTarget="ServicePrincipal" PipelineParameter="ServicePrincipal" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="PutStoredQuery" OutputProperty="QueryArn" Verb="Write" Noun="StoredQuery" ShouldProcessTarget="StoredQuery_QueryName" PipelineParameter="StoredQuery_QueryName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="SelectAggregateResourceConfig" OutputProperty="Results" Verb="Select" Noun="AggregateResourceConfig" ShouldProcessTarget="ConfigurationAggregatorName" PipelineParameter="ConfigurationAggregatorName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="SelectResourceConfig" OutputProperty="Results" Verb="Select" Noun="ResourceConfig" ShouldProcessTarget="Expression" PipelineParameter="Expression" NoPipelineParameter="false" LegacyV4Pagination="true" LegacyPagination="UseEmitLimit">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="StartConfigRulesEvaluation" Verb="Start" Noun="ConfigRulesEvaluation" ShouldProcessTarget="ConfigRuleNames" PipelineParameter="ConfigRuleNames" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="StartConfigurationRecorder" Verb="Start" Noun="ConfigurationRecorder" ShouldProcessTarget="ConfigurationRecorderName" PipelineParameter="ConfigurationRecorderName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="StartRemediationExecution" OutputProperty="*" Verb="Start" Noun="RemediationExecution" ShouldProcessTarget="ResourceKeys" PipelineParameter="ResourceKeys" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="StartResourceEvaluation" OutputProperty="ResourceEvaluationId" Verb="Start" Noun="ResourceEvaluation" ShouldProcessTarget="ResourceDetails_ResourceId" PipelineParameter="EvaluationMode" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="StopConfigurationRecorder" Verb="Stop" Noun="ConfigurationRecorder" ShouldProcessTarget="ConfigurationRecorderName" PipelineParameter="ConfigurationRecorderName" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="TagResource" Verb="Add" Noun="ResourceTag" ShouldProcessTarget="ResourceArn" PipelineParameter="ResourceArn" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
        <ServiceOperation MethodName="UntagResource" Verb="Remove" Noun="ResourceTag" ShouldProcessTarget="ResourceArn" PipelineParameter="ResourceArn" NoPipelineParameter="false" LegacyV4Pagination="true">
            <Params />
            <TypesNotToFlatten />
        </ServiceOperation>
    </ServiceOperations>
    <TypesNotToFlatten />
</ConfigModel>